@charset "UTF-8";
$bgcl: #fcf9ee;
$white: #fff;
$black001: #000;
$black002: #666;
$gray: #f2efe5;
$gray002: #f2f2f2;

body {
	font-family: "Hiragino kaku Gothic ProN", Meiryo, sans-serif;
	background-color: $bgcl;
	overflow-x: hidden;
	line-height: 1.5;
}

#site-wrapper {
	position: relative;
	background-color: $white;
	transition : 1s;
}

.header {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 130px;
    z-index: 1;
	.header__logo {
		width: 120px;
	}
	.header__link {
		display: inline-block;
	}
	.header__nav {
		padding-right: 30px;
	}
}

// site-nav
.site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    list-style: none;
	.site-nav__link {
		display: inline-block;
		color: $black002;
		font-size: 1rem;
		font-family: "Quicksand", sans-serif;
		text-decoration: none;
		&:hover {
			transform: scale(1.1);
			transition: 0.6s;
		}
	}
}

/* スライドショー（cssのみ） */
// mainimg
.mainimg {
	padding: 50px;
    height: 100vh;
	.mainimg__inner {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 50px;
		overflow: hidden;
	}
	.mainimg__slide {
		position: absolute;
		inset: 0;
		opacity: 0;
		animation: slideshow 15s infinite;
		background-size: cover;
		background-position: center;
		&.mainimg__slide--type01 {
			background-image: url(../images/bg001.jpg);
			animation-delay: 0s;
		}
		&.mainimg__slide--type02 {
			background-image: url(../images/bg002.jpg);
			animation-delay: 5s;
		}
		&.mainimg__slide--type03 {
			background-image: url(../images/bg003.jpg);
			animation-delay: 10s;
		}
	}
}

// footer
footer small {
	position: fixed;
	right: 5px;
	bottom: 60px;
	writing-mode: vertical-lr;
	color: #c2bebe;
}

// @keyframes
@keyframes slideshow {
	0% {opacity: 0; transform: scale(1);}
	10% {opacity: 1; transform: scale(1.1);}
	33% {opacity: 1;}
	43% {opacity: 0;}
	100% {opacity: 0;}
}

// Media Queries
@media screen and (max-width:700px) {
	.header {
		.header__logo {
			width: 100px;
		}
	}
	.mainimg {
		padding: 40px;
	}
	footer small {
		bottom: 12px;
		font-size: 12px;
	}
}
