@charset "UTF-8";
body {
    font-family: "Hiragino kaku Gothic ProN", Meiryo, sans-serif;
    background-color: #fcf9ee;
    overflow-x: hidden;
    line-height: 1.5;
}
#site-wrapper {
    position: relative;
    background-color: #fff;
    transition: 1s;
}
.header {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 130px;
    z-index: 1;
}
.header .header__logo {
    width: 120px;
}
.header .header__link {
    display: inline-block;
}
.header .header__nav {
    padding-right: 30px;
}
.site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    list-style: none;
}
.site-nav .site-nav__link {
    display: inline-block;
    color: #666;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}
.site-nav .site-nav__link:hover {
    transform: scale(1.1);
    transition: 0.6s;
}
.mainimg {
    padding: 50px;
    height: 100vh;
}
.mainimg .mainimg__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
}
.mainimg .mainimg__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: slideshow 15s infinite;
    background-size: cover;
    background-position: center;
}
.mainimg .mainimg__slide.mainimg__slide--type01 {
    background-image: url(../images/bg001.jpg);
    animation-delay: 0s;
}
.mainimg .mainimg__slide.mainimg__slide--type02 {
    background-image: url(../images/bg002.jpg);
    animation-delay: 5s;
}
.mainimg .mainimg__slide.mainimg__slide--type03 {
    background-image: url(../images/bg003.jpg);
    animation-delay: 10s;
}
footer small {
    position: fixed;
    right: 5px;
    bottom: 60px;
    writing-mode: vertical-lr;
    color: #c2bebe;
}
@keyframes slideshow {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    10% {
        opacity: 1;
        transform: scale(1.1);
    }
    33% {
        opacity: 1;
    }
    43% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 700px) {
    .header .header__logo {
        width: 100px;
    }
    .mainimg {
        padding: 40px;
    }
    footer small {
        bottom: 12px;
        font-size: 12px;
    }
}
